<!DOCTYPE html>
{% import 'front/macros/flash.html' as flash with context %}
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admin : General Store</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='admin/css/bootstrap.min.css') }}" />
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='admin/css/font-awesome.min.css') }}" />
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='admin/css/style.css') }}" />

	<script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery-2.2.4.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='admin/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='admin/js/custom.js') }}"></script>
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					GS <span style="font-size: 10px;">Admin</span>
				</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a target="_blank" href="#">Portal</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#admin/orders">Orders</a></li>
					<li><a href="{{ url_for('prod_cat.index') }}">Categories</a></li>
					<li><a href="{{ url_for('product.index') }}">Products</a></li>
					<li><a href="#admin/users">Users</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{logged_user['first_name']}} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{{ url_for('admin_auth.logout') }}">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		{{ flash.render() }}
    	{% block body %}{% endblock %}
	</div>
</body>
</html>